h1, h2 {
    background-color: green;
}

:not(div){
    border: 3px solid chartreuse;
}

ol li {
    /* style every li child of ol */
    font-style: italic;
}

h3 + h4 {
    /* select h3 elements placed inmediatly after h4 */
    align-content: flex-end;
}

li:first-child {
    /* select every li element that is the first child of its parent */
    border: 4px dashed lightblue;
}