h1, h2 {
    background-color: chartreuse;
}

:not(div){
    border: 3px solid chartreuse;
}

ol li{
    /* style every li child of ol */
    font-style: italic;
}

h3 + h4{
    /* select h4 elements immediately after h3 elements */
    align-content: flex-end;
}

li:first-child{
    /* select every list item that is the first item of its parent */
    border: 4px dashed chartreuse;
}