#background{
    border: 2px solid black;
    padding: 25px;
    background: pink;
    background-repeat: no-repeat;
    background-size: auto;
}

#mainHeader{
    text-align: center;
    background-color: lightblue;
    color: black;
    border: 5px solid white;
    text-shadow: 1px 2px white;
}

.unicorn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}