h1,h2{
    background-color: chartreuse;
}

:not(div){
    /* Selects everything except for <div>*/
    border: 3px solid chartreuse;
}

ol li{
    /* Style every li child of ol*/
    font-style: italic;
}

h3 + h4{
    /* Select h4 elements placed immediately after h3 elements*/
    align-content: flex-end;
    
}

li: first-child{
    /* Select every <li> that is the first child of its parent */
    border: 4px dashed chartreuse;

}