body{
	display:flex;
	flex-wrap: wrap;
    margin: 2%;
    align-items: center;
    flex-direction: column;
	background-color:black;
	flex: 1;
}
.jumbotron{
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	flex: 0 1;
	width: 40%;
	justify-content: flex-start;
	text-align:left;
	align-items: center;
}
label{
	flex: 0 0 25%;
	text-align: left;
}
select{
	overflow: hidden;
	flex: 0 0;
	text-align:center;
}
button{
	margin-left:1em;
}
h1{
    text-emphasis: bold;
	color:yellow;
	flex: 1 0 100%;
	text-justify :center;
}
/* Center it, set the color, size and hide the text */
.intro {
	display: flex;
	justify-content: center;
	align-content: center;
	order: 5;	
    /* position: absolute;
    top: 45%;
    left: 35%; */
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
label{
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #EBD71C;
}
p {
font-size: 150%;
justify-content: left;
}
  
  /* Set the font, lean the board, position it */
  #board {
	display: flex;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #EBD71C;
	
	transform: perspective(300px) rotateX(15deg);
	transform-origin: 50% 100%;
	position: absolute;
	margin-left: -9em;
	font-weight: bold;
	overflow: hidden;
	font-size: 250%;
	height: 70%;
	width: 25em;
	bottom: 0;
	left: 40%;
  }
  
  #board:after {
	position: absolute;
	content: ' ';
	bottom: 60%;
	left: 0;
	right: 0;
	top: 0;
  }
  
  /* Set the scrolling animation and position it */
  .content {
	animation: scroll 20s linear ;
	position: absolute;
	top: 100%;
  }
  
  #title, #subtitle {
	justify-content: center;
  }
  
  @keyframes scroll {
	  0% {
		  top: 100%;
	  }
	  100% {
		  top: -160%;
	  }
  }
body {
	margin: 0;
	background-color: black;
  }
  
  .star {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: white;
  }