h1, h2 {
background-color: chartreuse;
}

:not(div) {
    /* Style everything BUT div */
    border: 3px solid chartreuse;
}

ol li {
    /* Style every li child of ol */
    font-style: italic;
}

h3 + h4 {
    /* Select h4 elements immediately after h3 elements */
    align-content: flex-end;
}

li:first-child {
    /* Style every first child of every li tag */
    border: 4px dashed chartreuse;
}