html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body { 
    min-height:100%;
}
#statPanel {
    border: black;
}
#focus {
    background-color: white;
}
section {
    position: relative;
    background-color: transparent !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px;
}
section .img {
    position: absolute;
    left:0; top:0;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    opacity: 0.35;
    background-image: url("../Project 0/img/stadium.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
section .container {
    background-color: transparent;
}
.sprite {
    background-color: silver;
}

#info {
    margin: 2em;
    background-color: silver;
}
.panel-primary {
    min-height: 10em;
    max-height: 10em;
    overflow-y: auto;
    margin: 1em;
    padding: 1em;
    background-color: silver;
    border: 1em;
}
.panel-secondary {
    min-height: 17em;
    max-height: 17em;
    overflow-y: auto;
    background-color: silver;
    border: 1em;
}

.normal {
    background-color: #c8cbd1;
    color:black;
}
.fighting {
    background-color: #af4f34;
    color:white;
}
.flying {
    background-color: #d0f2ec;
    color:black;
}
.poison {
    background-color: #b050b7;
    color:white;
}
.ground {
    background-color: #c6c179;
    color:black;
}
.rock {
    background-color: #5b582e;
    color:white;
}
.bug {
    background-color: #54a341;
    color:black;
}
.ghost {
    background-color: #3f1947;
    color:white;
}
.steel {
    background-color: #cdc8ce;
    color:black;
}
.fire {
    background-color: #e53b19;
    color:white;
}
.water {
    background-color: #144ae0;
    color:white;
}
.grass{ 
    background-color: #36db39;
    color:black;
}
.electric {
    background-color: #e9ed00;
    color:black;
}
.psychic {
    background-color: #e580ca;
    color:black;
}
.ice {
    background-color: #96e7ea;
    color:black;
}
.dragon {
    background-color: #794db7;
    color:white;
}
.dark {
    background-color: #626163;
    color:white;
}
.fairy {
    background-color: #e9adf7;
    color:black;
}
.type {
    width: 100%;
    height: 100%;
}
.checked {
    color: orange;
}
.fa {
    background-color: black;
}
#battle-btn {
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-radius: 50%;
}
#presentBox {
    background-color: #b050b7;
    border-radius: 25%;
    height: 100%;
    text-align: center;
    color: #c8cbd1;
    padding: 2em;
}