{box-sizing: border-box; }

.wrapper{
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, lfr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper>div{
    border: 2px solid rgb(233, 171, 88);
    border-radius: 5px;
    padding: 1em;

}

#one{
    grid-column: 1/4; /*Column starts at 1 ends at 3*/
    grid-row: 1/3;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        yellow,
        green 10px,
        red 10px,
        black 20px
    );

    
}

#two{
    grid-column: 2/5;
    grid-row: 2/3;

}

#three{
    grid-column: 4;
    grid-row: 4;

}

#four{
    grid-column: 1;
    grid-row: 2/5;
    background: repeating-linear-gradient(
        135deg,
        transparent,
        #606dbc,
        #493439 10px,
        #aa5298 20px,
        mediumseagreen 5px

    );


}

#five{
    grid-column: 3;
    grid-row: 4;

}